## bibliotecas

In [2]:
import pandas as pd

## Importação bases de dados

In [ ]:
df = pd.read_csv('./data/teste.csv')

df.head() 

#df.to_parquet('./data/teste.parquet', index=False)
results = pd.read_parquet('./data/results.parquet') # base de dados em uma versão mais leve que xlsx ou csv, 
bios = pd.read_csv('./data/bios.csv')

## Metodos básicos de seleção de dados

In [ ]:
display(df.loc[0:5, ['unidades vendidas', 'dia']]) # permite localizar pela label do index

display(df.iloc[0:5]) #somente index numerico como 0,1,2,3 alem de excluir o ultimo valor

display(df.at[0, "café"]) # loc porem somente para um valor 
display(df.iat[0,0]) # iloc porem somente para um valor

In [ ]:
# como definir valores de uma linha e coluna 
display(df.head())
df.loc[0:5, ["unidades vendidas"]] = 20
display(df.head())

## Ordenação de dados

In [ ]:
# utilizando somente um parametro para o sort, neste caso é um numero entao vai ser por ordem de valor
# ascending=True diz que vai ser do menor pro maior, se for False o contrario
display(df.sort_values("unidades vendidas", ascending=True))

# é possivel utilizar mais de um criterio no sort, neste caso unidades e cafe
# unidades sendo numerico vai ser por valor, ja no cafe como é uma string é alfabética
# no ascending é passado uma lista que representa respectivamente como cada criterio vai ser organizado
display(df.sort_values(["unidades vendidas", "café"],ascending=[0,1]))

## Filtragem de dados

#### Com loc e seleção personalizada

In [ ]:
# filtrando por valor de uma coluna, retorna todas as linhas onde height_cm é maior igual a 200
display(bios.loc[bios["height_cm"] >= 200,["name", "height_cm"]]) # loc é [index, columns]

# loc nao é obrigatorio bios[bios["height_cm"] >= 200][["name", "height_cm"]] traz o mesmo resultado

# é possível passar mais de uma condição, é necessario colocar entre () cada uma
# a sintaxe ficaria (condição 1) & ou | (condição 2), & para and = dois lados verdadeira e | para or = 1 lado verdadeiro é suficiente
display(bios[(bios["height_cm"] >= 200) & (bios["born_country"] == "BRA")])

### Utilizando metodos de string e regex

In [ ]:
# traz todas as linhas onde o campo nome == joão ignorando case
display(bios[bios['name'].str.contains('joão', case=False)])

# traz todas as linhas onde o campo nome começa com "Maria" (case insensitive)
# O parâmetro na=False faz com que valores nulos (NaN) sejam tratados como False na filtragem, linhas onde 'name' é NaN não serão selecionadas.
display(bios[bios['name'].str.startswith('Maria', na=False)])

# traz todas as linhas onde o campo nome termina com "son" (case insensitive)
display(bios[bios['name'].str.endswith('son', na=False)])

# traz todas as linhas onde o campo nome contém apenas letras (sem números ou caracteres especiais)
display(bios[bios['name'].str.match(r'^[A-Za-z\s]+$', na=False)])

# traz todas as linhas onde o campo nome contém "da Silva" usando regex, ignorando case
display(bios[bios['name'].str.contains(r'da\s+silva', case=False, regex=True)])

# traz todas as linhas onde o campo nome possui exatamente dois nomes (dois grupos de letras separados por espaço)
display(bios[bios['name'].str.match(r'^[A-Za-z]+ [A-Za-z]+$', na=False)])

In [63]:
# metodo isin serve para checar se existe um valor dentro de uma lista de valores
display(bios[bios["born_country"].isin(['USA', 'FRA', 'BRA', 'GBR'])])

# é possivel adicionar mais imposições junto como nesse caso onde somente nome com j nos paises da lista
display(bios[bios["born_country"].isin(['USA', 'FRA', 'BRA', 'GBR']) & (bios['name'].str.startswith('J'))])

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25
...,...,...,...,...,...,...,...,...,...,...
145454,149180,Anna Hoffmann,2000-03-28,Madison,Wisconsin,USA,United States,NaN,NaN,NaN
145457,149183,Alix Wilkinson,2000-08-02,Mammoth Lakes,California,USA,United States,NaN,NaN,NaN
145467,149194,Elisa Nakab,1998-05-08,Briançon,Hautes-Alpes,FRA,Italy,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN
145498,149225,André Foussard,1899-05-19,Niort,Deux-Sèvres,FRA,France,166.0,NaN,1986-03-18

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
17,18,Jean-Philippe Gatien,1968-10-16,Alès,Gard,FRA,France,178.0,73.0,NaN
33,34,Jean-Pierre Samazeuilh,1891-01-17,Bordeaux,Gironde,FRA,France,NaN,NaN,1965-04-13
...,...,...,...,...,...,...,...,...,...,...
145419,149142,Jake Sanderson,2002-07-08,Whitefish,Montana,USA,United States,NaN,NaN,NaN
145424,149147,Jonathan Gustafson,1997-03-05,Massena,New York,USA,United States,NaN,NaN,NaN
145427,149150,Jared Shumate,1999-03-06,Atlanta,Georgia,USA,United States,NaN,NaN,NaN
145444,149167,Julie Letai,2000-06-23,Medfield,Massachusetts,USA,United States,NaN,NaN,NaN
145468,149195,Justin Abdelkader,1987-02-25,Muskegon,Michigan,USA,United States,187.0,97.0,NaN